name: Run Scanner

on:
  schedule:
    - cron: '0 21 * * 1-5' # Runs Mon-Fri at 4pm CST
  workflow_dispatch:      # Allows manual run button

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11' 

      - name: Install libraries
        # Added --upgrade to force the latest patches
        run: |
          pip install --upgrade pip
          pip install --upgrade yfinance pandas requests pandas-datareader scipy numpy

      - name: Run Scanner
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python main.py
