name: Run Scanner

on:
  schedule:
    - cron: '0 21 * * 1-5' # Runs Mon-Fri at 4pm EST
  workflow_dispatch:      # Allows you to click the "Run workflow" button manually

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'  # <--- CRITICAL FIX (Upgrades Python to prevent crash)

      - name: Install libraries
        run: |
          pip install yfinance pandas requests lxml pandas-datareader

      - name: Run Scanner
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python main.py
