- name: Run
  env:
    TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
    TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
    FRED_API_KEY: ${{ secrets.FRED_API_KEY }}
  run: |
    python test_scan.py
    python main.py
