name: Debug Tiingo Data

on: workflow_dispatch

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install
      run: pip install pandas tiingo requests
    - name: Run X-Ray
      env:
        TIINGO_API_KEY: ${{ secrets.TIINGO_API_KEY }}
      run: python debug_tiingo.py
